@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap');

body{
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.wrapper{
  text-align: center;
  width: 100%;
}

#overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.mobile-logo img{
  display: none;
}

.logo{
  margin-top: 2vw;
}

.phrase input{
  font-family: 'Jost', sans-serif;
  background-color: transparent;
  padding-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 15px;
  color: white;
  width: -webkit-fill-available;
  font-size: 20px;
  font-weight: bold;
}

.c-radio{
  font-weight: bold;
  margin-top: 1vw;
}

.c-radio-1{
  display: inline-block;
}

.c-radio-2{
  display: inline-block;
}

.c-radio-3{
  display: inline-block;
}

.phrase input[type=radio]{
  display: inline;
}

.phrase label{
  font-family: 'Jost', sans-serif;
  text-transform: uppercase;
  color: white;
}

.phrase input::placeholder{
  color: white;
}

.phrase{
  position: relative;
  top: 10vh;
  width: 50%;
  margin: 0 auto;
}

.generate{
  text-align: center;
  margin-top: 2vw;
}

.generate button{
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  padding: 20px;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  border-style: solid;
  transition: background-color .5s;
}

.generate button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

.menu{
  font-family: 'Jost', sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  position: fixed;
  top: 15vw;
  right: 1vw;
  font-size: 18px;
  text-align: right;
}

.menu-item{
  padding: 1vw;
}

.menu-item:hover{
  font-size: 25px;
  cursor: pointer;
}

.active{
  font-size: 22px;
  color: tomato;
}

.card{
  font-family: 'Jost', sans-serif;
  background-color: white;
  position: fixed;
  top: 10vw;
  left: 8%;
  right: 8%;
  max-width: 500px;
  min-width: 85%;
  max-height: 80vh;
  border-radius: 25px;
  display: none;
  text-align: center;
  z-index: 3;
  overflow: scroll;
  padding-bottom: 3vw;
}

.card::-webkit-scrollbar{
  display: none;
}

.card ol{
  text-align: left;
  list-style-position: inside;
  padding-inline-start: 0;
}

.card .content{
  margin-left: 25%;
  margin-right: 25%;
  font-weight: bold;
  text-align: justify;
}

#confession{
  font-weight: bold;
  padding: 3vw;
}

h2{
  padding-left: 3vw;
  padding-right: 3vw;
}

.team li{
  text-align: center;
  display: inline-block;
  padding: 1vw;
}

.team ol{
  text-align: center;
}

.submit button{
  font-family: 'Jost', sans-serif;
  padding: 1vw;
  border-radius: 15px;
  background-color: white;
  color: blue;
  transition: background-color .2s;
  font-weight: bold;
}

.submit button:hover{
  background-color: tomato;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 890px){
  .mobile-logo img{
    display: block;
    float: left;
    height: 72px;
    width: 72px;
  }
  .logo{
    display: none;
  }
  .phrase{
    top: 30vh !important;
  }
  .menu{
    position: relative;
    margin-top: -15vh;
    text-align: center;
    top: 1vw !important;
  }
  .menu-item{
    display: inline-block;
    font-size: 2.5vh;
  }
  .card{
    top: 15vh !important;
  }
}
